*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    width:100vw;
    height:80px;
    background-color:rgb(15, 15, 15);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 10px;
}
header h2{
    color:lightgreen;
}
main{
    position: relative;
    width:100vw;
    height: calc(100vh - 80px);
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    width: 50%;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    gap:20px;
}
.song-image{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: url("img/song1.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: inset 2px 2px 10px black, -2px -2px 10px white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.volume-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%
}
.volume-img{
    width:100px;
    height:100px;
    background-color: transparent;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 2px 2px 10px rgba(93, 92, 92, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8) , 2px 2px 10px rgba(0, 0, 0, 0.8);
}
#volume-range{
    -webkit-appearance: none;
    appearance: none;
    width: 40%;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, lightgreen, rgb(0, 254, 207));
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px black, -2px -2px 10px black;
    margin-top:50px;
}
#volume-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 10px black, -2px -2px 10px black;
}
#volume-range::-webkit-slider-thumb:hover{
    transform: scale(120%);
}
.right{
    width: 50%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

}
.details{
    width: 80%;
    height: 100px;
    background: transparent;
    box-shadow: 2px 2px 10px rgb(49, 48, 48), -2px -2px 10px rgba(0, 0, 0), -2px -2px 10px rgba(0, 0, 0) , -2px -2px 10px rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    border-radius: 20px;
}
#song-name{
    color: lightgreen;
    font-size: 30px;
}
#song-artist{
    color: lightblue;
    font-size: 15px;
}
#song-duration{
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, lightgreen, rgb(0, 254, 207));
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px black, -2px -2px 10px black;
}
#song-duration::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    cursor: pointer;
    box-shadow: 2px 2px 10px black, -2px -2px 10px black;
}
#song-duration::-webkit-slider-thumb:hover{
    transform: scale(130%);
}
.time-info{
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    font-size: 1.4vw;
    margin-top: -40px;

}
.controls{
    width:100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 100px;
}
.prev-img, .play-pause, .next-img{
    width:100px;
    height:100px;
    background-color: transparent;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(93, 92, 92, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8) , 2px 2px 10px rgba(0, 0, 0, 0.8);
}
.prev-img:hover, .play-pause:hover, .next-img:hover{
    box-shadow: inset 2px 2px 10px rgba(93, 92, 92, 0.8),inset -2px -2px 10px rgba(0, 0, 0, 0.8),inset -2px -2px 10px rgba(0, 0, 0, 0.8),inset 2px 2px 10px rgba(0, 0, 0, 0.8);
    transform: scale(90%);
    cursor: pointer;
}
#musicanim{
    position: absolute;
    display: none;
    width: 425px;
    height: 425px;
    filter: drop-shadow(2px 4px 10px rgba(0, 255, 255, 0.64));
}
.playlist{
    position: absolute;
    width:30%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.562);
    left:0;
    backdrop-filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.5s ;
    box-shadow: 2px 2px 10px rgba(93, 92, 92, 0.8);
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 12px 0;
    overflow-y: auto;

}
.playlist-active{
    transform: translateX(0%);
    transition: all 0.5s;
}
.playlist-song{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.450);
    gap: 10px;
    cursor: pointer;
    width: 100%;
    padding: 8px 12px;
    height: 106px;
    flex-shrink: 0;
}
.playlist-song:hover{
    background-color: rgba(3, 3, 255, 0.562);
}
.playlist-song img{
    width: 100px;
    height: 90px;
    object-fit: cover;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 2px 2px 10px black;
    flex-shrink: 0;
}
.playlist-song h2{
    color: rgba(144, 238, 144, 0.711);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playlist-song h5{
    color: rgba(245, 245, 245, 0.674);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.song-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:3px;
    text-align: left;
    min-width: 0;
    flex: 1;
}
#playlist-img{
    cursor: pointer;
}


@media (max-width: 700px){
    main{
        flex-direction: column;
    }
    .left, .right{
        width: 100%;
    }.song-image{
        margin-top: 20px;
        width:60vw;
        height:60vh;
    }
    .playlist{
        width:100%;
    }
}

/* Smaller icons */
#playlist-img,
#music-img {
    width: 69px;
    height: 69px;
}

.volume-img {
    width: 72px;
    height: 72px;
}
#volume-img {
    width: 50px;
    height: 50px;
}
.prev-img, .play-pause, .next-img {
    width: 90px;
    height: 90px;
}
#prev-img, #play-pause, #next-img {
    width: 50px;
    height: 50px;
}
.playlist-song img {
    width: 90px;
    height: 90px;
}
