*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    width:100vw;
    height:80px;
    background-color:rgb(15, 15, 15);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 10px;
}
header h2{
    color:lightgreen;
}
main{
    width:100vw;
    height: calc(100vh - 80px);
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    width: 50%;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    gap:20px;
}
.song-image{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYZPC4ZSbVwHH83WXjz6qg2MAvJcXilbMeSbpVFBxEYQ&s=10');
    background-position: center;
    background-size: cover;
}
.volume-div{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    gap: 10px;
    width: 100%
}
.volume-up{
    width:100px;
    height:100px;
    background-color: transparent;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(93, 92, 92, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8) , -2px -2px 10px rgba(0, 0, 0, 0.8);
}
#volume-range{
    -webkit-appearance: none;
    appearance: none;
    width: 40%;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, lightgreen, rgb(0, 254, 207));
    outline: none;
}
#volume-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: rgb(147, 0, 246);
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}
#volume-range::-webkit-slider-thumb:hover{
    transform: scale(120%);
}
.right{
    width: 50%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

}
.details{
    width: 80%;
    height: 100px;
    background: transparent;
    box-shadow: 2px 2px 10px rgb(49, 48, 48), -2px -2px 10px rgba(0, 0, 0), -2px -2px 10px rgba(0, 0, 0) , -2px -2px 10px rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    border-radius: 20px;
}
#song-name{
    color: lightgreen;
    font-size: 30px;
}
#song-artist{
    color: lightblue;
    font-size: 15px;
}
#song-duration{
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, lightgreen, rgb(0, 254, 207));
    outline: none;
}
#song-duration::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
#song-duration::-webkit-slider-thumb:hover{
    transform: scale(130%);
}